body {
    background-color: #2F4F4F;
}
h1 {
    margin-top: 10px;
    margin-bottom: 5px;
    color: #fff;
}
h1:hover {
    text-transform: uppercase;
}
a, a:hover {
    color: #fff;
    text-decoration: none;
}
p.text-center.head3 a, 
div.text-center a {
    color: #2F4F4F;
}
p.text-center.head3 a:hover, 
div.text-center a:hover {
    color: #fff;
}
.head3 {
    font-size: 1.7em;
    text-align: center; 
    color: #2F4F4F;
}
.head3:hover {
    color: #fff;
}
.col-xs-12, col-lg-4, col-md-6 {
    padding-left: 5px;
    padding-right: 5px;
}
#bs-example-navbar-collapse-1 ul li {
    text-align: center;
    background-color: #C9EDAF;
    font-size: 1.4em
}
.navbar-inverse .navbar-brand {
    color: #fff;
}
a.navbar-brand {
    font-size: 2.4em;
    color: #fff;
}
.container-fluid {
    padding-left: 15px;
    margin-left: 15px;
    margin-right: 15px;
}
section {
    margin-top: 1em; 
    margin-bottom: 1em;
    padding: 1em;
}
article {
    padding: 1em;
    background-color: #C9EDAF;
}
p {
    padding-left: 1em;
    padding-right: 1em;
}

hr {
    border-top: 2px solid #2F4F4F;
    width: 50%;
}
